.Rproj.user
.Rhistory
.RData
.Ruserdata
Userdata.R
data/*
figs/*
SI/*
stminsights/*
stminsights*
check_updates.R
CJAE.R
doi.RData
literature.RData
OldCode.R
STMwordclouds.R
WoSNr.RData
stminsights.R
stminsights_*
