# general
.Rproj.user
.Rhistory
.RData
.Ruserdata

# scripts
check_updates.R
CJAE.R
OldCode.R
STMwordclouds.R
Userdata.R

# Data
doi.RData
literature.RData
stminsights*
WoSNr.RData

# Folders
/SI/*
/data/*
/figs/*

